<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ol id='server-side-stuff'>
      <%= data %>

    </ol>

    <ol id="client-side-stuff">

    </ol>
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/axios-cache-adapter@2.7.3/dist/cache.min.js"></script> -->
    <script type="text/javascript" src="/javascripts/main.js"></script>
  </body>
</html>
